 <!-- About Section -->
<section class="normal background-gradient" id="about">
    <div class="container">
        <!--<div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <p>I am a Robotics System Engineer at <a href="https://jpl.nasa.gov">NASA's Jet Propulsion Laboratory</a>, where I am a member of the <a href="https://www-robotics.jpl.nasa.gov/groups/RoboticSystemsEstimation/">Robotic Systems Estimation, Decision, and Control</a> group in the <a href="https://www-robotics.jpl.nasa.gov/index.cfm">Mobility and Robotic Systems</a> section. At JPL, I continue to work on multi-agent robotics for new and challenging applications, including the robotic exploration of our universe.</p>
                <p>I recently graduated with a Ph.D. in <a href="http://www.ece.gatech.edu">Electrical and Computer Engineering</a> from the <a href="http://www.gatech.edu">Georgia Institute of Technology</a>, where I worked in <a href="http://users.ece.gatech.edu/~magnus">Dr. Magnus Egerstedt</a>'s <a href="http://gritslab.ece.gatech.edu">Georgia Robotics and InTelligent Systems</a> lab on multi-agent robotics.</p>
            </div>
            <div class="col-md-4">
                <p>My disseration focused on creating <a href="https://www.youtube.com/watch?v=TgQ6f0xFwbE">new control techniques for large-scale robotic systems</a> (swarms!), such that humans can easily and effectively interact with these complex systems.</p>
                <p>I grew up in a small town near Frankfurt am Main, Germany, but moved to Atlanta, Georgia in 1997.  In 2010, I graduated with two B.S. degrees in <a href="http://www.ece.gatech.edu">EE</a> and <a href="http://www.cc.gatech.edu">CS</a> from Georgia Tech with a focus on control theory, signal processing, artificial intelligence, and <em>robotics!</em></p>
                <p>I enjoy spending my free time writing software (see my <a href="http://github.com/jdelacroix">GitHub</a> page), prototyping hardware, and running as far as my legs will carry me.</p>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <a href="#contact" onclick="toggle_visibility('contact', 'on')" class="btn btn-lg btn-outline btn-special">
                    <i class="fa fa-download"></i> Request R&eacute;sum&eacute;
                </a>
            </div>
        </div>-->
    </div>
</section>
