 <!-- About Section -->
<section class="normal background-plain" id="about">
    <div class="container">
        <!--<div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>-->
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <p>I am a fourth year Ph.D. student (and now candidate!) at the <a href="http://www.gatech.edu">Georgia Institute of Technology</a>, where I work with <a href="http://users.ece.gatech.edu/~magnus">Dr. Magnus Egerstedt</a> and other students in the <a href="http://gritslab.ece.gatech.edu">Georgia Robotics and InTelligent Systems</a> lab on mulit-agent robotics.</p>
                <p>My Ph.D. research is all about creating <a href="https://www.youtube.com/watch?v=TgQ6f0xFwbE">new control techniques for large-scale robotic systems</a> (swarms!), such that humans can easily and effectively interact with these complicated systems.</p>
            </div>
            <div class="col-sm-4">
                <p>I grew up in a small town near Frankfurt am Main, Germany, but moved to Atlanta, Georgia in 1997.  In 2010, I graduated with two B.S. degrees in <a href="http://www.ece.gatech.edu">EE</a> and <a href="http://www.cc.gatech.edu">CS</a> from Georgia Tech with a focus on control theory, signal processing, artificial intelligence, and <em>robotics!</em></p>
                <p>I enjoy spending my free time writing software (see my <a href="http://github.com/jdelacroix">GitHub</a> page), prototyping hardware, and running as far as my legs will carry me.</p>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <a href="#contact" onclick="toggle_visibility('contact', 'on')" class="btn btn-lg btn-outline btn-special">
                    <i class="fa fa-download"></i> Request R&eacute;sum&eacute;
                </a>
            </div>
        </div>-->
    </div>
</section>
