 <!-- Contact Section -->
    <section id="contact" class="footer background-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Connect</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div style="margin: 0px;" class="row">
                <div id="contact-form" class="col-md-8 col-md-offset-2"></div>
            </div>
        </div>
    </section>
