    <!-- Header -->
    <header class="special">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" id="header-slide" onclick="toggle_profile('profile3')" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name"><span onclick="toggle_profile('profile2')">Jean-Pierre</span> <span onclick="toggle_profile('profile4')">de la Croix</span>, Ph.D.</span>
                        <hr class="star-primary">
                        <span class="skills">Robotics System Engineer, NASA's Jet Propulsion Laboratory</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
