 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <!--<script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>-->

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" | prepend: site.baseurl }}"></script>

    <!-- Toggle Visiblity -->
    <script src="{{ "/js/toggle_visibility.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/step_back.js" | prepend: site.baseurl }}"></script>

    <!-- Video.js for <video> tag -->
    <link href="//vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.7/video.js"></script>
