 <!-- About Section -->
    <section class="normal background-gradient" id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Papers</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p><strong>Journals</strong></p>
                    <ul>
                     <li>J.P. de la Croix and M. Egerstedt. <a href="">Analyzing Human-Swarm Interactions with Control Lyapunov Functions and Optimal Control</a>. <i>Networks and Heterogeneous Media</i>. American Institute of Mathematical Sciences, 2015. <em>To appear</em>.</li>
                    </ul>
                    <p><strong>Book Chapters</strong></p>
                    <ul>
                    	<li>M. Egerstedt, J.P. de la Croix, H. Kawashima, and P. Kingston. <a href="#">Interacting with Networks of Mobile Agents</a>. <i>Large-Scale Networks in Engineering and Life Sciences, </i>Springer, 2014.</li>
                    	<li>P. Martin, J.P. de la Croix, and M. Egerstedt. <a title="Pancakes: A Software Framework for Distributed Robot and Sensor Network Applications" href="http://www.ece.gatech.edu/~magnus/Papers/Pancakes.pdf">Pancakes: A Software Framework for Distributed Robot and Sensor Network Applications</a>. <em>Springer Tracts in Advanced Robotics</em>, Springer-Verlag, 2012.</li>
                    </ul>
                  	<p><strong>Conference Proceedings</strong></p>
                    <ul>
                     <li>J.P. de la Croix and M. Egerstedt. <a href="">A Control Lyapunov Approach to Human-Swarm Interactions</a>. <em>American Control Conference</em>, Chicago, IL, Jul. 2015. <em>To appear</em>.</li>
                    	<li>J.P. de la Croix and M. Egerstedt. <a href="http://www.ece.gatech.edu/~magnus/Papers/LionsMTNS14.pdf">Group-Size Selection for a Parameterized Class of Predator-Prey Models</a>. <em>The 21st International Symposium on Mathematical Theory of Networks and Systems</em>, Groningen, The Netherlands, Jul. 2014.</li>
                     <li>J.P. de la Croix and M. Egerstedt. <a href="http://www.ece.gatech.edu/~magnus/Papers/MOOCACC14.pdf">Flipping the Controls Classrom around a MOOC</a>. <em>American Control Conference</em>, Portland, OR, Jun. 2014.</li>
                    	<li>M. Diana, J.P. de la Croix, and M. Egerstedt. <a title="Deformable-Medium Affordances for Interacting with Multi-Robot Systems" href="http://www.ece.gatech.edu/~magnus/Papers/IROS13JP.pdf">Deformable-Medium Affordances for Interacting with Multi-Robot Systems</a>. <em>IEEE/RSJ International Conference on Intelligent Robots and Systems</em>, Tokyo, Japan, Nov. 2013.</li>
                    	<li>J.P. de la Croix and M. Egerstedt. <a title="A Separation Signal for Heterogeneous Networks" href="http://www.ece.gatech.edu/~magnus/Papers/Allerton13JP.pdf">A Separation Signal for Heterogeneous Networks</a>. <em>Allerton Conference on Communication, Control, and Computing</em>, Urbana, IL, Oct. 2013.</li>
                    	<li>J.P. de la Croix and M. Egerstedt. <a title="Controllability Characterizations of Leader-Based Swarm Interactions" href="http://www.ece.gatech.edu/~magnus/Papers/AAAI12.pdf">Controllability Characterizations of Leader-Based Swarm Interactions</a>.<em> AAAI Fall Symposium on Human Control of Bio-Inspired Swarms</em>. November 2012.</li>
                    	<li>P. Twu, R. Chipalkatty, J.P. de la Croix, T. Ramachandran, J. Shiveley, M. Egerstedt, A. Rahmani, and R. Young. <a title="A Hardware Testbed for Multi-UAV Collaborative Ground Convoy Protection in Dynamic Environments" href="http://www.prism.gatech.edu/~ptwu3/files/HardwareTestbedAIAAMST2011.pdf">A Hardware Testbed for Multi-UAV Collaborative Ground Convoy Protection in Dynamic Environments</a>. <em>AIAA Modeling and Simulation Technologies Conference</em>. August 2011.</li>
                    	<li>P. Martin, J.P. de la Croix. M. Egerstedt. <a title="Pancakes: A Software Framework for Distributed Robot and Sensor Network Applications" href="http://www.ece.gatech.edu/~magnus/Papers/DARS2010_Pan.pdf">Pancakes: A Software Framework for Distributed Robot and Sensor Network Applications</a>. <em>10th International Symposium on Distributed Autonomous Robotics Systems</em>. November 2010.</li>
                    	<li>H. R. Lee, W. R. Panont, B. Plattenburg, J.P. de la Croix, D. Patharachalam, G. Abowd. <a href="http://dmrussell.net/CHI2010/docs/p3583.pdf">Asthmon: Empowering Asthmatic Children's Self-Management with a Virtual Pet</a>. <em>ACM SIGCHI Conference on Human Factors in Computing Systems</em>. April 2010.</li>
                    	<li>P. Martin, J.P. de la Croix, and M. Egerstedt. <a href="http://iloveyoumuch.com/jp/wp-content/uploads/2010/01/cdc2008.pdf">MDLn: A Motion Description Language for Networked Systems</a>. <em>Proceedings of 47th IEEE Conference on Decision and Control</em>. December 2008.</li>
                    </ul>
               </div>
          </div>
    </section>
