 <!-- About Section -->
    <section id="research" class="normal background-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
                  <p><strong>Graduate Research</strong><p>

                  <p>Despite the collective push towards greater autonomy in robots, most applications still require human intervention to guide autonomous robots in complicated tasks. Existing interfaces allow a human to intuitively interact with one or a few robots; however, as the number of robots involved in the task grows large, these interfaces become less effective or even unusable due to a lack of scalability in the interaction.</p>

                  <p>Therefore, my Ph.D. research is focused on understanding these <em>human-swarm interactions</em> and developing new ways to control large networks of robots collectively with just a small number of simple inputs, rather than insisting that humans guide these robots invididually.</p>
                </div>
                <div class="col-lg-4 col-md-5">
                    <p><strong>Research Projects</strong></p>
                    <p>A list of the current and past research projects that encompass most of the work written about in my publications:</p>
                    <ul>
                      <li><a href="http://users.ece.gatech.edu/magnus/projects.html#afosrhsi">Motion Coordination and Adaptation Using Deception and Human Interactions</li>
                      <li><a href="http://users.ece.gatech.edu/magnus/projects.html#hunt">Heterogeneous Unmanned Networked Teams</a></li>
                      <li><a href="http://users.ece.gatech.edu/magnus/projects.html#mathworks">An Educational Infrastructure for Teams of Simulated and Real Mobile Robots</a></li>
                      <li><a href="http://users.ece.gatech.edu/magnus/projects.html#HSIRIM">Human-Swarm Interactions for Multi-Robot Teams</a>
                      <li><a href="http://users.ece.gatech.edu/magnus/projects.html#pilot">Pilot Decision Support for Controlling Multiple UAVs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
